<!DOCTYPE html>
{%load static%}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ClayDord Computers</title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
        <link rel="stylesheet" href="{static 'style.css'}">
    </head>
    <body>
        <section id="header">
                <ul id="logo">
                  <li><h1>C</h1></li>
                  <li><h1>L</h1></li> 
                  <li><h1>A</h1></li> 
                  <li><h1>Y</h1></li> 
                  <li><h1>D</h1></li> 
                  <li><h1>O</h1></li> 
                  <li><h1>R</h1></li> 
                  <li><h1>D</h1></li>
              </ul>
            <div>
                <ul id="navbar">
                    <li><a href="homepage.html">Home</a></li>
                    <li><a class="active" href="shop.html">Shop</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li id="lg-bag"><a href="cart.html"><i class="far fa-shopping-bag"></i></a></li>
                    <a href="#" id="close"><i class="far fa-times"></i></a>
                </ul>
            </div>
            <div id="mobile">
                <a href="cart.html"><i class="far fa-shopping-bag"></i></a>
                <i id="bar" class="fas fa-outdent"></i>
            </div>
        </section>
        <section id="prodetails" class="section-p1">
            <div class="single-pro-image">
                <img src="elite3.png" width="100%"  id="mainimg" alt="">
            </div>
            <div class="small-img-group">
                <div class="small-img-col">
                    <img src="elite1.png" width="100%" class="ssmall-img">
                </div>
                <div class="small-img-col">
                    <img src="elite2.png" width="100%" class="ssmall-img">
                </div>
                <div class="small-img-col">
                    <img src="elite3.png" width="100%" class="ssmall-img">
                </div>
                <div class="small-img-col">
                    <img src="elite5.png" width="100%" class="ssmall-img">
                </div>
            </div>
        </section>
        <footer >
                    <div class="footer-items">
                      <ul>
                        <h3>Get to Know Us</h3>
                        <li><a href="index.html">About us</a></li>
                      </ul>
                      <ul>
                        <h3>Connect with Us</h3>
                        <li><a href="mailto:claydordcomputers@gmail.com">Gmail</a></li>
                        <li><a href="https://instagram.com/claydordcomputer?igshid=NTc4MTIwNjQ2YQ==">Instagram</a></li>
                      </ul>
                      <ul>
                        <h3>Just so you know</h3>
                        <li><strong>Adress:</strong> Accra, Madina- GTBank Premises</li>
                        <li><strong>Phone:</strong>+233 24 150 5000 | +233 20 833 3208</li>
                        <li><strong>Working Hours:</strong> 08:00 - 19:00 , Mon - Sat</li>
                      </ul>
                    </div>
                    <div class="copyright">
                        <p>©2023, Claydord</p>
                    </div>
        </footer>
        

        <script src="script.js"></script>
    </body>
</html>